.purple-grid #map-vis svg{
    margin: 2rem 0;
    background-color: #1a1a1a;
    display: block;
    margin: auto;
}

.purple-grid path {
    stroke-width: 1px;
    stroke: #666;
    transform: translate(50px, 50px);
}

.container {
    padding: 2rem 0;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-check {
    margin: 0.5rem 1rem;
}

.form-check-label {
    cursor: pointer;
}

.controls {
    margin: 20px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
